$colorPrimary: rgb(43, 42, 42);

$colorSecundary: rgb(233, 176, 19);

$colorComplementary: rgb(98, 98, 209);

$colorPrimaryTransp: rgba(43, 42, 42, 0.747);

$textBase: 20px;

$textMedium:$textBase + 0.2;

$textLarge: 40px;



$boxradius: 3rem;
